@{
    ViewBag.Title = "Email Confirmation Info";
}
<h2>@ViewBag.Title.</h2>
<h3>
    You must have a confirmed email to log on.
    The confirmation token has been resent to your email account.
</h3>
