@{
    ViewBag.Title = "Index";
    Layout = "~/Common/Views/_Layout.cshtml";
    bool isAdminUser = false;
    if (ViewBag.isAdminUser != null)
    { isAdminUser = Boolean.Parse(ViewBag.isAdminUser.ToString()); }


}

@if (isAdminUser)
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Roles", "Index", "Roles", routeValues: new { area = "Manage" }, htmlAttributes: new { id = "manageRolesLink" })</li>
        <li>@Html.ActionLink("Manage Users", "Index", "Users", routeValues: new { area = "Manage" }, htmlAttributes: new { id = "manageUsersLink" })</li>
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}

