@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-sm-12">
        <h1>Error</h1>
        <div class="col-sm-12">
            <h2>An error occurred while processing your request.</h2>
        </div>
        <div>
            @{
                if (Model != null && Model.Exception != null)
                {
                    <h5>Here is some information you can pass on to the administrator</h5>
                    <h3>Path: ~/@string.Format("{0}/{1}", Model.ControllerName, Model.ActionName)</h3>
                    <h4>Error: @Model.Exception.GetType().Name</h4>
                    if (Request.IsLocal)
                    {
                        <h4>Message: @Model.Exception.Message</h4>
                        <h5>@Model.Exception.StackTrace</h5>
                    }
                }
            }
        </div>
    </div>
</div>