@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Role Details";    
}


<h2>@ViewBag.Title</h2>

<h4>Details of a Role added to the application.</h4>

@if (Model != null)
{<p> @Model.Name </p>}
else
{ <p>Role Not Found</p>}

@Html.ActionLink("Back", "List", "Roles", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "listRoleLink", @class = "btn btn-primary" })

